<form class="{{cssClass}}" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
    <div class="header-fields">
      <div class="flexrow">
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
      </div>
      <div class="flexrow flex-group-center flex-actions-bar">
        <div>
          <span id="encaisser-direct"><a title="Encaisser des dommages"><img class="button-img" src="icons/svg/bones.svg" alt="Encaisser des dommages"/></a></span>
          <span class="gm-only remise-a-neuf"><a title="Remise à neuf"><img class="button-img" src="icons/svg/regen.svg" alt="Remise à neuf"/></a></span>
        </div>
      </div>
    </div>
</header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="carac">Caractéristiques</a>
    <a class="item" data-tab="competences">Compétences</a>
    <a class="item" data-tab="description">Description</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Carac Tab --}}
    <div class="tab items" data-group="primary" data-tab="carac">
      <div class="grid grid-2col">
        <div class="flex-group-left flexcol">
          <ol class="carac-list alterne-list">
            {{#each data.carac as |carac key|}}
            <li class="competence flexrow list-item" data-attribute="{{key}}">
              {{#if carac.isTaille}}
              <span class="carac-label flexrow" name="data.carac.{{key}}.label">{{carac.label}}</span>
              {{else}}
              <span class="carac-label flexrow" name="data.carac.{{key}}.label"><a
                  name={{key}}>{{carac.label}}</a></span>
              {{/if}}
              <input class="competence-value flexrow" type="text" name="data.carac.{{key}}.value"
                value="{{carac.value}}" data-dtype="{{carac.type}}" />
            </li>
            {{/each}}
          </ol>
        </div>
        <div class="flex-group-left flexcol">
          <ol class="carac-list alterne-list">
            {{#each data.attributs as |attr key|}}
            <li class="competence flexrow list-item" data-attribute="{{key}}">
              <span class="carac-label flexrow" name="data.attributs.{{key}}.label">{{attr.label}} : </span>
              <span><input class="attribut-value flexrow" type="text" name="data.attributs.{{key}}.value"
                  value="{{attr.value}}" data-dtype="{{attr.type}}" /></span>
            </li>
            {{/each}}
            <li class="competence flexrow list-item" data-attribute="endurance">
              <span class="competence-label flexrow" name="data.sante.endurance.label">Endurance : </span>
              <span><input class="sante-value flexrow" type="text" name="data.sante.endurance.value"
                  value="{{data.sante.endurance.value}}" data-dtype="Number" /></span><span>/ </span>
              <span><input class="sante-value flexrow" type="text" name="data.sante.endurance.max"
                  value="{{data.sante.endurance.max}}" data-dtype="Number" /></span>
            </li>
          </ol>
        </div>
      </div>
    </div>
    
    {{!-- Compétences Tab --}}
    <div class="tab competences" data-group="primary" data-tab="competences">
      <div class="flexcol">
        <div class="flex-group-left flexcol competence-column">
          <ol class="item-list alterne-list">
            {{#each data.competencecreature  as |comp key|}}
            <li class="item flexrow list-item" data-item-id="{{comp._id}}">
              <img class="sheet-competence-img" src="{{comp.img}}" />
              <span class="competence-label"><a>{{comp.name}}</a></span>
              <input class="competence-value creature-carac" type="text" 
                name="data.competencecreature[{{key}}].data.carac_value" compname="{{comp.name}}"
                value="{{comp.data.carac_value}}" data-dtype="number" />
              <input class="competence-value creature-niveau" type="text"
                compname="{{comp.name}}"
                value="{{numberFormat comp.data.niveau decimals=0 sign=true}}" data-dtype="number" />
              <input class="competence-value creature-dommages" type="text"
                name="data.competencecreature[{{key}}].data.dommages" compname="{{comp.name}}"
                value="{{numberFormat comp.data.dommages decimals=0 sign=true}}" data-dtype="number" />
              <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ol>
        </div>
      </div>
    </div>
      
    {{!-- Biography Tab --}}
    <div class="tab description" data-group="primary" data-tab="description">
      <div class="form-group editor">
        {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
      </div>
      {{>"systems/foundryvtt-reve-de-dragon/templates/editor-notes-mj.html"}}
    </div>
    
    </div>

  </section>
</form>