<div id="calendar-time-container">
	<div id="calendar">
    {{#if isGM}}
    <i id="calendar-btn-edit" class="fas fa-cog" title="Editer"></i>
    <i id="astrologie-btn-edit" class="fas fa-cog" title="Astrologie"></i>
    {{/if}}
		<div id="calendar-hdr">
	  		<p id="calendar--move-handle" class="calendar-date-rdd" title="Deplacer">Jour {{jourMois}} de {{nomMois}} ({{nomSaison}})</p>
    </div>
		<div class="calendar-container">
      {{#if isGM}}
			<div class="calendar-btn-container-left">
				<i id="calendar-btn-1min" class="fas fa-angle-right" title="Avancer de 1 minute"></i>
				<i id="calendar-btn-5min" class="fas fa-angle-double-right" title="Avancer de 5 minutes"></i>
				<i id="calendar-btn-10min" class="fas fa-play" title="Avancer de 10 minutes"></i>
				<i id="calendar-btn-20min" class="fas fa-step-forward" title="Avancer de 20 minutes"></i>
			</div>
      {{else}}
      <div class="calendar-btn-container-left">
			</div>
      {{/if}}
			<div class="calendar-weekday-time">
				<p id="calendar-weekday"><img id="calendar-heure-img" src="{{iconHeure}}" alt="{{nomHeure}}"/>&nbsp;<span id="calendar-heure-texte">{{nomHeure}}</span></p>
				<span class="calendar-time isGM"><p class="calendar-time-disp" id="calendar-time" title="Start/Stop">{{heuresRelative}}:{{minutesRelative}}</p></span>
			</div>
      {{#if isGM}}
			<div class="calendar-btn-container-right">
				<i id="calendar-btn-30min" class="fas fa-forward" title="Avancer de 30 minutes" ></i>
				<i id="calendar-btn-1heure" class="fas fa-fast-forward" title="Avancer d'1 heure" ></i>
				<i id="calendar-btn-vaisseau" class="fas fa-sun" title="Avancer au Vaisseau"></i>
				<i id="calendar-btn-lyre" class="fas fa-moon" title="Avancer à Lyre"></i>
			</div>
      {{/if}}
		</div>
	</div>
</div>
