<option value="attache">Terre d'Attache</option>
<option value="trounoir">Trou Noir</option>
<option value="debordement">Débordement</option>
<option value="reserve_extensible">Réserve extensible</option>
<option value="maitrisee">Case humide maitrisée (Quête des Eaux)</option>
<option value="fermeture">Fermeture cité</option>
<option value="pont-impraticable">Pont impraticable</option>
<option value="desorientation">Désoriantation</option>
<option value="periple">Periple</option>
<option value="conquete">Conquête</option>
<option value="pelerinage">Pèlerinage</option>
<option value="present-cites">Présents des cités</option>
