<img class="chat-icon" src="{{competence.img}}" alt="{{oeuvre.data.competence}}" />
<h4>
  {{alias}} tente de chanter la chanson : {{oeuvre.name}} (niveau {{oeuvre.data.niveau}})
</h4>
{{> "systems/foundryvtt-reve-de-dragon/templates/chat-infojet.html"}}
<hr>
<div>
  {{#if rolled.isSuccess}}
  {{alias}} réussi son interprétation avec une qualité de {{qualiteFinale}} . 
  {{else}}
  {{alias}} est peu inspiré(e) et son interprétation a une qualité de {{qualiteFinale}}.
  {{/if}}
</div>
{{> "systems/foundryvtt-reve-de-dragon/templates/chat-poesie.html" oeuvre.data}}
