<img class="chat-icon" src="{{competence.img}}" alt="{{oeuvre.data.competence}}" />
<h4>
  {{alias}} joue à : {{oeuvre.name}}
</h4>
{{> "systems/foundryvtt-reve-de-dragon/templates/chat-infojet.html"}}
<hr>
<div>
  {{#if rolled.isSuccess}}
  {{alias}} a gagné la partie !
  {{else}}
  {{alias}} a perdu ...
  {{/if}}
</div>
{{> "systems/foundryvtt-reve-de-dragon/templates/chat-poesie.html" oeuvre.data}}
