<h4>
  {{alias}} fait appel à la chance
</h4>
{{> "systems/foundryvtt-reve-de-dragon/templates/chat-infojet.html"}}
{{~#if rolled.isSuccess}}
<hr>
<span>Un point de chance est dépensé, l'action peut être retentée!</span>
{{/if}}
