<form class="dialog-roll-meditation">
 <div class="form-group">
  <ul class="item-list">
    <li class="item flexrow">
      <label for="categorie"><strong>Thème : {{meditation.data.theme}} </strong></label>
      <label for="categorie">Intellect {{numberFormat carac.intellect.value decimals=0 sign=false}} / {{competence.name}} {{numberFormat competence.data.niveau decimals=0 sign=true}}</label>
    </li>
    <li class="item flexrow">
      <label for="categorie">Sujet : {{competence.name}} ({{meditation.data.theme}})</label>
      <label for="categorie">Durée : 60 minutes</label>
    </li>
    <li class="item flexrow">
      <label for="categorie">Support : {{meditation.data.support}}</label>
      <label for="categorie">Malus spécial : {{meditation.data.malus}}</label>
    </li>
    <li class="item flexrow"><label for="categorie">Case TMR : {{meditation.data.tmr}}</label></li>
  </ul>
</div>

<div class="form-group">
  <label for="categorie" class="h4"><strong>Conditions Optionnelles : </strong></label>
</div>
<div class="form-group">
  <ul class="item-list">
  <li class="item flexrow">
    <label for="categorie">Heure : {{meditation.data.heure}}</label>
    <input class="attribute-value conditionMeditation" type="checkbox" id="isHeure" {{#if conditionMeditation.isHeure}}checked{{/if}}/>    
  </li>
  <li class="item flexrow">
    <label for="categorie">Purification : {{meditation.data.purification}}</label>
    <input class="attribute-value conditionMeditation" type="checkbox" id="isPurification" {{#if conditionMeditation.isPurification}}checked{{/if}}/>    
  </li>
  <li class="item flexrow">
    <label for="categorie">Vêture : {{meditation.data.veture}}</label>
    <input class="attribute-value conditionMeditation" type="checkbox" id="isVeture" {{#if conditionMeditation.isVeture}}checked{{/if}}/>    
  </li>
  <li class="item flexrow">
    <label for="categorie">Comportement antérieur : {{meditation.data.comportement}}</label>
    <input class="attribute-value conditionMeditation" type="checkbox" id="isComportement" {{#if conditionMeditation.isComportement}}checked{{/if}}/>    
  </li>
</ul>

</div>
  <label for="categorie">Conditions supplémentaires : </label>
  <select name="diffConditions" id="diffConditions" data-dtype="number">
      {{#select diffConditions}}
      {{#each ajustementsConditions as |key|}}
      <option value={{key}}>{{numberFormat key decimals=0 sign=true}}</option>
      {{/each}}
      {{/select}}
  </select>
</div>

<div id="tableAjustements">
</div>
<div id="tableResolution">
</div>
<div id="tableProbaReussite">  
</div>
</form>

<script>
</script>
