<form class="dialog-roll-sort">

  <div class="form-group">
    <label for="categorie">Vie : {{vieValue}}</label>
    <label for="categorie">Etat général : {{etat}}</label>
    <label for="categorie">Déjà bu : {{diffNbDoses}}</label>
  </div>
  
  <div class="form-group" id="div-sort-difficulte">
    <label for="categorie">Force du breuvage </label>
    <select name="forceAlcool" id="forceAlcool" data-dtype="number">
      {{#select forceAlcool}}
      {{#each ajustementsConditions  as |key|}}
      <option value={{key}}>{{numberFormat key decimals=0 sign=true}}</option>
      {{/each}}
      {{/select}}
    </select>
  </div>
  
  <div class="form-group">
    <label>Ajustement final : <label id="roll-param">10 / 0</label>&nbsp;&nbsp;&nbsp;<label name="addon-message" id="addon-message"></label></label>
  </div>
  
  <div id="tableResolution">
  </div>
  <div id="tableProbaReussite">  
  </div>
  
</form>
