<form class="dialog-roll-sort">
<div class="form-group">
  <ul>
    <li><label for="categorie">Chant : {{chant.name}}</label></li>
    <li><label for="categorie">Jet : OUIE / {{competence.name}}</label></li>
  </ul>
</div>

<div class="form-group">
  <label for="categorie">conditions</label>
  <select name="diffConditions" id="diffConditions" data-dtype="number">
      {{#select diffConditions}}
      {{#each ajustementsConditions as |key|}}
      <option value={{key}}>{{numberFormat key decimals=0 sign=true}}</option>
      {{/each}}
      {{/select}}
  </select>
  <label for="categorie">Difficulté </label>
  <select name="diffLibre" id="diffLibre" data-dtype="number">
    {{#select diffLibre}}
    {{#each difficultesLibres  as |key|}}
    <option value={{key}}>{{numberFormat key decimals=0 sign=true}}</option>
    {{/each}}
  {{/select}}
  </select>
</div>

<div id="tableAjustements">
</div>
<div id="tableResolution">
</div>
<div id="tableProbaReussite">  
</div>
</form>

<script>
</script>
