<form class="resolution-roll-dialog">
<div class="flexrow flex-group-left">
  <label for="categorie">Caractéristique</label>
  <select name="carac" id="carac" class="select-diff" data-dtype="String">
      {{#select carac}}
      {{#each carac as |caracitem key|}}
      <option value={{key}}>{{caracitem.label}}</option>
      {{/each}}
      {{/select}}
  </select>
  <label for="categorie">Difficulté libre</label>
  <select name="diffLibre" id="diffLibre" class="select-diff" data-dtype="number">
      {{#select diffLibre}}
      {{#each difficultesLibres as |key|}}
      <option value={{key}}>{{numberFormat key decimals=0 sign=true}}</option>
      {{/each}}
      {{/select}}
  </select>
  <label for="categorie">&nbsp;&nbsp;Conditions</label>
  <select name="diffConditions" id="diffConditions" class="select-diff" data-dtype="number">
      {{#select diffConditions}}
      {{#each ajustementsConditions as |key|}}
      <option value={{key}}>{{numberFormat key decimals=0 sign=true}}</option>
      {{/each}}
      {{/select}}
  </select>
  <span class="flex-between"></span>
  <button id="lancer" type="button">Lancer les dés</button>
</div>
<div id="tableResolution">  
</div>
<div id="tableProbaReussite">  
</div>

</form>
