<form class="dialog-roll-sort">
<div class="form-group">
  <ul>
    <li><label for="competence-label">Jouer à : {{oeuvre.name}}</label></li>
    <li><label for="competence-label">Type : {{oeuvre.data.type}}</label></li>
    <li><label for="competence-label">Base : {{oeuvre.data.base}}</label></li>
    <li><label for="competence-label">Carac/Compétence : {{oeuvre.data.caraccomp}}</label></li>
  </ul>
</div>
<div class="form-group">
  <label for="categorie">Caractéristique</label>
  <select name="carac" id="carac" class="select-diff" data-dtype="String">
    {{#select carac}}
    {{#each carac as |caracitem key|}}
    <option value={{key}}>{{caracitem.label}}</option>
    {{/each}}
    {{/select}}
  </select>
  <label for="categorie">conditions</label>
  <select name="diffConditions" id="diffConditions" data-dtype="number">
      {{#select diffConditions}}
      {{#each ajustementsConditions as |key|}}
      <option value={{key}}>{{numberFormat key decimals=0 sign=true}}</option>
      {{/each}}
      {{/select}}
  </select>
  <label for="categorie">Difficulté </label>
  <select name="diffLibre" id="diffLibre" data-dtype="number">
    {{#select diffLibre}}
    {{#each difficultesLibres  as |key|}}
    <option value={{key}}>{{numberFormat key decimals=0 sign=true}}</option>
    {{/each}}
  {{/select}}
  </select>
</div>

<div id="tableAjustements">
</div>
<div id="tableResolution">
</div>
<div id="tableProbaReussite">  
</div>
</form>

<script>
</script>
