<form class="skill-roll-dialog">
  <div class="form-group">
    <label for="categorie">{{tmr.label}} ({{tmr.coord}})</label>
    <label for="categorie">Rêve actuel à {{diffLibre}}</label>
    <span>

      <label for="categorie">Conditions</label>
      <select name="diffConditions" id="diffConditions" data-dtype="number">
        {{#select diffConditions}}
        {{#each ajustementsConditions as |key|}}
        <option value={{key}}>{{numberFormat key decimals=0 sign=true}}</option>
        {{/each}}
        {{/select}}
      </select>
    </span>
  </div>
  {{>"systems/foundryvtt-reve-de-dragon/templates/dialog-roll-surenc.html"}}
  <div id="tableAjustements">
  </div>
  <div id="tableResolution">
  </div>
  <div id="tableProbaReussite">  
  </div>
  </form>
  
  <script>
  </script>
  