<form class="encaisse-roll-dialog">
  <h2 class="encaisserdialog" id="encaisserTitle"></h2>
  <div class="form-group">
    <label class="competence-label">Modificateurs aux Dommages:</label>
    <select class="competence-value" name="modificateurDegats" id="modificateurDegats" data-dtype="number">
      {{#select modificateurDegats}}
      {{#each ajustementsEncaissement as |key|}}
      <option value={{key}}>{{numberFormat key decimals=0 sign=true}}</option>
      {{/each}}
      {{/select}}
    </select>
  </div>
  <div class="form-group">
    <label class="competence-label">Cas particuliers:</label>
    <select class="competence-value" name="encaisserSpecial" id="encaisserSpecial" data-dtype="String">
      <option value="aucun">Aucun</option>
      <option value="noarmure">Ne pas compter les Armures</option>
      <option value="chute">Chute : Limiter les armures à 2 PA</option>
    </select>
  </div>
</form>
