<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>
    
    {{!-- Sheet Body --}}
    <section class="sheet-body">
      <div class="flexcol">
        <div class="form-group">
          <label>Aspect</label>
          <input class="attribute-value" type="text" name="data.concept" value="{{data.concept}}" data-dtype="String" />
        </div>
        <div class="form-group">
          <label>Sens</label>
          <select name="data.aspect" id="aspect" data-dtype="String">
            {{#select data.aspect}}
            {{>"systems/foundryvtt-reve-de-dragon/templates/enum-aspect-tarot.html"}}
            {{/select}}
          </select>
        </div>
        <div class="flexcol">
        <span><label>Description :</label></span>
        <div class="form-group editor">
          {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
      </div>
     </section>
    
</form>
