<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>
    
    {{!-- Sheet Body --}}
    <section class="sheet-body">
      <div class="form-group">
        <label for="xp">Compétence</label>
        <select name="data.competence" id="competenceselect" data-dtype="String">
          {{#select item.data.competence}}
          {{#each competences as |competence key|}}
          <option value="{{competence.name}}">{{competence.name}}</option>
          {{/each}}
          {{/select}}    
        </select>
      </div>
      <div class="form-group">
        <label for="xp">Thème</label>
        <input class="attribute-value" type="text" name="data.theme" value="{{data.theme}}" data-dtype="String"/>
      </div>
      <div class="form-group">
        <label for="xp">Support</label>
        <input class="attribute-value" type="text" name="data.support" value="{{data.support}}" data-dtype="String"/>
      </div>
      <div class="form-group">
        <label for="xp">Heure</label>
        <select name="data.heure" id="heure" data-dtype="String">
          {{#select item.data.heure}}
          {{>"systems/foundryvtt-reve-de-dragon/templates/heures-select-option.html"}}
          {{/select}}
        </select>        
      </div>
      <div class="form-group">
        <label for="xp">Purification</label>
        <input class="attribute-value" type="text" name="data.purification" value="{{data.purification}}" data-dtype="String"/>
      </div>
      <div class="form-group">
        <label for="xp">Vêture</label>
        <input class="attribute-value" type="text" name="data.veture" value="{{data.veture}}" data-dtype="String"/>
      </div>
      <div class="form-group">
        <label for="xp">Comportement</label>
        <input class="attribute-value" type="text" name="data.comportement" value="{{data.comportement}}" data-dtype="String"/>
      </div>
      <div class="form-group">
        <label for="xp">Case TMR</label>
        <select name="data.tmr" id="tmr" data-dtype="String">
          {{#select item.data.tmr}}
          {{>"systems/foundryvtt-reve-de-dragon/templates/sort-tmr.html"}}
          {{/select}}
        </select>
      </div>
      <div class="form-group">
        <label for="xp">Malus</label>
        {{#if isGM}}
        <select name="data.malus" id="malus" data-dtype="Number">
          {{#select item.data.malus}}
          <option value="0">0</option>
          <option value="-1">-1</option>
          <option value="-2">-2</option>
          <option value="-3">-3</option>
          <option value="-4">-4</option>
          <option value="-5">-5</option>
          <option value="-6">-6</option>
          <option value="-7">-7</option>
          <option value="-8">-8</option>
          <option value="-9">-9</option>
          <option value="-10">-10</option>
          {{/select}}
        </select>
        {{else}}
        <label>>{{data.malus}}</label>
        {{/if}}
      </div>
      <span><label>Description : </label></span>
      <div class="form-group editor" style="min-height: 400px">
        {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
      </div>
    </section>
    
</form>
