<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>
    
    {{!-- Sheet Body --}}
    <section class="sheet-body">
      <div class="form-group">
        <label for="niveau">Coordonnées TMR </label>
        <input class="attribute-value" type="text" name="data.coord" value="{{data.coord}}" data-dtype="String"/>
      </div>
      <div class="form-group">
        <label for="niveau">Mode spécifique</label>
        <select name="data.specific" id="specific" data-dtype="String">
          {{#select item.data.specific}}
          {{>"systems/foundryvtt-reve-de-dragon/templates/casetmr-specific-list.html"}}
          {{/select}}
      </select>
      </div>
      <div class="flexcol">
        <span><label>Description : </label></span>
        <div class="form-group editor">
          {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
      </div>
    </section>
    
</form>
