<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>
    
    {{!-- Sheet Body --}}
    <section class="sheet-body">
      <div class="form-group">
        <label for="xp">Malignité </label>
        <input class="attribute-value" type="text" name="data.malignite" value="{{data.malignite}}" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label for="xp">Périodicité</label>
        <input class="attribute-value" type="text" name="data.periodicite" value="{{data.periodicite}}" data-dtype="String"/>
      </div>
      <div class="form-group">
        <label for="xp">Dommages</label>
        <input class="attribute-value" type="text" name="data.dommages" value="{{data.dommages}}" data-dtype="String"/>
      </div>
      <div class="form-group">
        <label for="xp">Remèdes </label>
        <input class="attribute-value" type="text" name="data.remedes" value="{{data.remedes}}" data-dtype="String"/>
      </div>
      <div class="flexcol">
        <span><label>Description : </label></span>
        <div class="form-group editor">
          {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
      </div>
    </section>
    
</form>
