<div class="post-item" data-transfer="{{transfer}}">
  <h3><b>{{name}}</b></h3>
  {{#if img}}
  <img src="{{img}}" title="{{name}}" />
  {{/if}}

  <div class="card-content">{{{data.description}}}</div>

  {{#each properties as |property p|}}
  <span>{{{property}}}</span><br>
  {{/each}}
  <div>
  {{#if postPrice}}
      <b>Prix: </b> <span class="postPrice">{{postPrice}} Sols</span>
  {{/if}}
  {{#if postQuantity}}
      <b>Quantité: </b> <span class="postQuantity">{{postQuantity}}</span>
  {{/if}}
  </div>

  {{#if finalPrice}}
  <div>
      <b>Prix Total: </b> <span class="postPrice">{{finalPrice}} Sols</span>
  </div>
  {{/if}}

  {{#if hasPrice}}
  <span class="chat-card-button-area">
      <a id='payer-button' class='chat-card-button market-button' data-jsondata='{{jsondata}}' 
      data-somme-denier="{{data.cout_deniers_total}}" data-quantite="{{data.quantite}}">Payer</a>
  </span>
  {{/if}}

</div>
