<form autocomplete="off" onsubmit="event.preventDefault();">
  <h3>Règles de combat</h3>
  <ul>
  {{#each regles as |regle key|}}
    {{#if (eq regle.group 'combat')}}
    <li>
      <input class="select-option" type="checkbox" name="{{regle.id}}" {{#if regle.active}}checked{{/if}}/>
      <label>{{regle.descr}}</label>
    </li>
    {{/if}}
  {{/each}}
  <h3>Autres règles</h3>
  {{#each regles as |regle key|}}
    {{#if (eq regle.group 'generale')}}
    <li>
      <input class="select-option" type="checkbox" name="{{regle.id}}" {{#if regle.active}}checked{{/if}}/>
      <label>{{regle.descr}}</label>
    </li>
    {{/if}}
  {{/each}}
</form>